/* 设置基本样式 */
* {
  box-sizing: border-box;
}
/* 设置 body 样式 */
body {
  background-color: #dfdfdf;
  margin: 0;
}
/* 设置外层 logs 样式 */
.logs {
  width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #eae2b7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* 设置 item 样式 */
.item {
  display: flex;
  background-color: #fcbf49;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 16px 0;
  padding: 6px;
}
/* 设置日期样式 */
.date {
  width: 90px;
  background-color: #ffffff;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}
/* 设置月份样式 */
.month {
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  background-color: #d62828;
  font-size: 20px;
}
/* 设置日子样式 */
.day {
  height: 60px;
  line-height: 60px;
  font-size: 50px;
}
/* 设置日志的内容 */
.content {
  flex: auto;
  text-align: center;
  font-weight: bold;
}
/* 设置学习描述内容 */
.desc {
  font-size: 16px;
  color: #194b49;
}
.time {
  color: #d62828;
}
